@model SurfsUpv3.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<div class="header"><h1>Slet booking</h1></div>

<div class="admin-row">
    <div class="admin-row1">

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @TranslationHelper.Labels["CustomerName"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerName)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["CustomerEmail"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["CustomerPhone"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["SelectedSurfboard"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SelectedSurfboard)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["RentPeriod"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RentPeriod)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["RentHours"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RentHours)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["RentReturn"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RentReturn)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["Remarks"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Remarks)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["SurfboardAmount"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SurfboardAmount)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["Price"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["Gender"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @TranslationHelper.Labels["Size"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Size)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="BookingId" />
            <input type="submit" value="Slet booking" class="btn btn-danger" />
            <div class="back">
                <a asp-action="Index">Tilbage</a>
            </div>
        </form>
    </div>
</div>