@model IEnumerable<SurfsUpv3.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookingoversigt</h1>

<p>
    <a asp-action="Create">Opret Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @TranslationHelper.Labels["BookingId"]
            </th>
            <th>
                @TranslationHelper.Labels["CustomerName"]
            </th>
            <th>
                @TranslationHelper.Labels["CustomerEmail"]
            </th>
            <th>
                @TranslationHelper.Labels["CustomerPhone"]
            </th>
            <th>
                @TranslationHelper.Labels["SelectedSurfboard"]
            </th>
            <th>
                @TranslationHelper.Labels["RentPeriod"]
            </th>
            <th>
                @TranslationHelper.Labels["RentHours"]
            </th>
            <th>
                @TranslationHelper.Labels["RentReturn"]
            </th>
            <th>
                @TranslationHelper.Labels["Remarks"]
            </th>
            <th>
                @TranslationHelper.Labels["SurfboardAmount"]
            </th>
            <th>
                @TranslationHelper.Labels["Price"]
            </th>
            <th></th>
        </tr>
        
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.RentPeriod))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelectedSurfboard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentReturn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurfboardAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BookingId">Ret</a>
                    <a asp-action="Details" asp-route-id="@item.BookingId">Detaljer</a>
                    <a asp-action="Delete" asp-route-id="@item.BookingId">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
